:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

.grid-container {
    display: grid;
    
    background-color:white;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 40vw;
    height: 40vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: 0 auto;
}

.grid-item {  
    border: 0.1px solid rgba(0,0,0, 0.8);
}

h1 {
    text-align: center;
}

.buttons {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}