:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

.grid-container {
    display: grid;
    
    background-color:white;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 40vw;
    height: 40vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: 0 auto;
}

.grid-item {  
    /* border: 0.1px solid rgba(0,0,0, 0.8); */
}

h1 {
    text-align: center;
    color: gold;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
}
body {
    background-color: tomato;
    height: 100vw;
}


.buttons {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    width: 40vw;
    
}

.button {
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    color: teal;
    background-color: #fff;
    padding: 20px;
    margin: 4px;
    border-radius: 50%;
    border-style: none;
    box-shadow: 4px 5px #888888;
    vertical-align: middle;
}